# pin importlib-metadata version else charmcraft pack will fail to resolve the dependencies for the pydeps-installed otlp library
importlib-metadata==6.8.0
ops < 2.5.0  # https://github.com/canonical/ops-scenario/issues/48
jsonschema==4.17.0
lightkube==0.11.0
lightkube-models==1.24.1.4


# pydeps inherited from charm libs
opentelemetry-exporter-otlp-proto-grpc
pydantic==1.10.12
